:root {
  --font-family: "Orbitron", sans-serif;
  --font-size: 28px;
  --color: black;
  --background-color: #2b221d;
}

body {
  font-size: var(--font-size);
  color: var(--color);
  box-sizing: content-box;
  background-color: var(--background-color);
}

#display {
  text-align: center;
  display: grid;
  align-items: center;
  border: 1px solid gray;
  height: 100px;
  /* width: 100%; */
  background-color: lightgray;
  font-family: var(--font-family);
  font-size: var(--font-size);
  color: var(--color);
}

#my-calculator {
  background-color: var(--background-color);
  /* display: flex; */

  /* padding: 20px; */
  height: 100vh;
  /* width: 100vh; */
}

button {
  height: 100%;
  width: 100%;
}

.op {
  background-color: orange;
  border: 1px solid grey;
  font-family: var(--font-family);
  font-size: var(--font-size);
  color: var(--color);
}

#equals {
  background-color: orange;
}

#numpad {
  width: 100%;
  height: 500px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 10px;
}

.input {
  background-color: lightgray;
  height: 60px;
}

.nums {
  background-color: lightgray;
  border: 1px solid gray;
  font-family: var(--font-family);
  font-size: var(--font-size);
  color: var(--color);
}

.clear {
  background-color: dimgray;
  border: 1px solid gray;
  font-family: var(--font-family);
  font-size: var(--font-size);
  color: var(--color);
  color: lightgray;
}

@media only screen and (min-width: 600px) {
  body {
    display: flex;
    justify-content: center;
  }
  #my-calculator {
    width: 400px;
  }
}
