#my-calculator {
  background-color: #2b221d;
  display: flex;
  justify-content: center;
  padding: 20px;
  font-family: "Orbitron", sans-serif;
}

.op {
  background-color: orange;
  border: 1px solid grey;
  font-family: "Orbitron", sans-serif;
}

#equals {
  background-color: orange;
}

button {
  height: 60px;
  width: 100px;
}

#numpad {
  width: 300px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 10px;
}

#display {
  text-align: center;
  display: grid;
  align-items: center;
  border: 1px solid gray;
  height: 60px;
  width: 300px;
  background-color: lightgray;
  font-family: "Orbitron", sans-serif;
}

.input {
  background-color: lightgray;
  height: 60px;
}

.nums {
  background-color: lightgray;
  border: 1px solid gray;
  font-family: "Orbitron", sans-serif;
}

.clear {
  background-color: dimgray;
  border: 1px solid gray;
  font-family: "Orbitron", sans-serif;
  color: lightgray;
}
